.github/**
.vscode/**
.vscode-test/**
.gitignore
src/**
tests/**
test
scripts/**
coverage/**
release/**
dist/test/**
dist/**/*.map
*.ts
eslint.config.mjs
tsconfig.json
vitest*.config.mts
vendor/playwright/.links/**
vendor/playwright/ffmpeg-*/**
vendor/playwright/winldd-*/**
